# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# React/Vite build
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Firebase Admin private key
firebase-service-account.json

*-firebase-adminsdk-*.json
